html,
body {
  background-color: beige;
  text-align: center;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  list-style-position: inside;
  width: 100%;
}
.parent-block {
  margin-top: 1%;
}
.parent-block button {
  background-color: cadetblue;
  color: azure;
  border-style: none;
  height: 2rem;
  width: 8rem;
}
.overlay {
  margin-top: 2rem;
}
.modal {
  margin: auto;
  border: 1px groove;
  height: 130px;
  width: 400px;
  color: azure;
  background-color: #6e9cef;
}
